@model Product

@{
    ViewData["Title"] = "Create for Product";
}
<div class="row text">
    <div class="col-md-8 offset-md-2">
        <h1 class="text-center">Create a new Product</h1>

        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    @*Las que son de item*@
                    <div class="form-group">
                        <label asp-for="name" class="control-label"></label>
                        <input asp-for="name" class="form-control" />
                        <span asp-validation-for="name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="description" class="control-label"></label>
                        <textarea asp-for="description" class="form-control" ></textarea>
                        <span asp-validation-for="description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="price" class="control-label"></label>
                        <input asp-for="price" class="form-control" />
                        <span asp-validation-for="price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="tax" class="control-label"></label>
                        <input asp-for="tax" class="form-control" />
                        <span asp-validation-for="tax" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="quantity" class="control-label"></label>
                        <input asp-for="quantity" class="form-control" />
                        <span asp-validation-for="quantity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="shoppingWay" class="control-label"></label>
                        <textarea asp-for="shoppingWay" class="form-control" ></textarea>
                        <span asp-validation-for="shoppingWay" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="image" class="control-label"></label>
                        <input asp-for="image" class="form-control" id="Photo" />
                        <span asp-validation-for="image" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center mt-3">
                        <img src="" style="width: 350px" id="PhotoPreview"/>
                        <!--pendiente-->
                    </div>
                    @*Las que son de product*@    

                    <div class="form-group">
                        <label asp-for="creationDate" class="control-label"></label>
                        <input asp-for="creationDate" class="form-control"/>
                        <span asp-validation-for="creationDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="externalLink" class="control-label"></label>
                        <input asp-for="externalLink" class="form-control" />
                        <span asp-validation-for="externalLink" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="nftLink" class="control-label"></label>
                        <input asp-for="nftLink" class="form-control" />
                        <span asp-validation-for="nftLink" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="color" class="control-label"></label>
                        <input asp-for="color" class="form-control" />
                        <span asp-validation-for="color" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="sizeCup" class="control-label"></label>
                        <input asp-for="sizeCup" class="form-control" />
                        <span asp-validation-for="sizeCup" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="modelClothes" class="control-label"></label>
                        <input asp-for="modelClothes" class="form-control" />
                        <span asp-validation-for="modelClothes" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="sizeClothes" class="control-label"></label>
                        <input asp-for="sizeClothes" class="form-control" />
                        <span asp-validation-for="sizeClothes" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="sizeNotepad" class="control-label"></label>
                        <input asp-for="sizeNotepad" class="form-control" />
                        <span asp-validation-for="sizeNotepad" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="season" class="control-label"></label>
                        <input asp-for="season" class="form-control" />
                        <span asp-validation-for="season" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="status" class="control-label"></label>
                        <input asp-for="status" class="form-control" />
                        <span asp-validation-for="status" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="sizePrint" class="control-label"></label>
                        <input asp-for="sizePrint" class="form-control" />
                        <span asp-validation-for="sizePrint" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="sizePaper" class="control-label"></label>
                        <input asp-for="sizePaper" class="form-control" />
                        <span asp-validation-for="sizePaper" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="formatImage" class="control-label"></label>
                        <input asp-for="formatImage" class="form-control" />
                        <span asp-validation-for="formatImage" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="sizeBookMarker" class="control-label"></label>
                        <input asp-for="sizeBookMarker" class="form-control" />
                        <span asp-validation-for="sizeBookMarker" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="rolDice" class="control-label"></label>
                        <input asp-for="rolDice" class="form-control" />
                        <span asp-validation-for="rolDice" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="sizeDice" class="control-label"></label>
                        <input asp-for="sizeDice" class="form-control" />
                        <span asp-validation-for="sizeDice" class="text-danger"></span>
                    </div>
                    @*<div class="form-group">
                        <label asp-for="TypeId" class="control-label"></label>
                        <input asp-for="TypeId" class="form-control" />
                        <span asp-validation-for="TypeId" class="text-danger"></span>
                    </div>*@
                    <div class="form-group">
                        <label asp-for="ProviderId" class="control-label"></label>
                        <input asp-for="ProviderId" class="form-control" />
                        <span asp-validation-for="ProviderId" class="text-danger"></span>
                    </div>
                    

                    <div class="form-group mt-2">
                        <input type="submit" class="btn btn-outline-success float-end" value="Create New Product" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Show all</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        var output = document.getElementById('PhotoPreview');
        $(document).ready(function () {
            output.src = $('#Photo').val();
        })
        $("#Photo").on("change", function () {
            output.src = $(this).val();
        })
    </script>
}