@model Banner

@{
    ViewData["Title"] = "Create";
}

<div class="row text">
    <div class="col-md-8 offset-md-2">
        <h1 class="text-center">Create a new Banner</h1>

        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control" ></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="size" class="control-label"></label>
                        <input asp-for="size" class="form-control" />
                        <span asp-validation-for="size" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProviderId" class="control-label"></label>
                        <input asp-for="ProviderId" class="form-control" />
                        <span asp-validation-for="ProviderId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="link" class="control-label"></label>
                        <input asp-for="link" class="form-control" />
                        <span asp-validation-for="link" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="image" class="control-label"></label>
                        <input asp-for="image" class="form-control" id="Photo" />
                        <span asp-validation-for="image" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center mt-3">
                        <img src="" style="width: 350px" id="PhotoPreview"/>
                        <!--pendiente-->
                    </div>

                    <div class="form-group mt-2">
                        <input type="submit" class="btn btn-outline-success float-end" value="Create New Banner" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Show all</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        var output = document.getElementById('PhotoPreview');
        $(document).ready(function () {
            output.src = $('#Photo').val();
        })
        $("#Photo").on("change", function () {
            output.src = $(this).val();
        })
    </script>
}
