@{
    ViewData["Title"] = "Login";
}
<div class="">
    <br/><h3 class="text-center"><b>Login with your account</b></h3>
</div>

<div >
    <br/><br/><p class="text-center" style="font-size: 50px;">
        To be able to buy I invite you to log in with your user or register on the site.
        </p><br/><br/>
    <div class="btn-group text-center" role="group" aria-label="Basic mixed styles example">
        <p>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>></p>
        <a class="btn btn-danger" href="/Identity/Account/Login">Login</a>
        <a class="btn btn-warning" href="/Identity/Account/Register">Register</a>
        <p><<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<</p>
    </div>
    
</div>